<div class="ui middle center aligned grid">
  <div class="vertical_box">
    <div class="ui stacked segment">
      <%= form_for(resource, as: resource_name, 
        url: session_path(resource_name), html: { class: 'ui form'}) do |f| %>
      
        <div class="field">
          <%= f.email_field :email, autofocus: true, placeholder: "email" %>
        </div>
        <div class="field">
          <%= f.password_field :password, 
            autocomplete: "off", placeholder: "password" %>
        </div>
        <%= f.submit "Log in", class: "ui fluid large blue submit button" %>
      <% end %>
    </div>
  </div>
</div>