.task__callout > p {
  display: inline-block;
  height: 25px;
  margin-left: 20px;
  @include centerer(false, true);
}

.hide {
  display: none;
}

.task__destroy--button {
  @include centerer(false, true);
}