body {
  background-color: #ecf0f1;
}
body > .grid {
  height: 100%;
}
.image {
  margin-top: -100px;
}

.vertical_box {
  max-width: 450px;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
  -ms-flex-direction: column;
  flex-direction: column;
  vertical-align: middle;
  -webkit-align-self: center !important;
  -ms-flex-item-align: center !important;
  align-self: center !important;
  margin-top: 50px;
}
.vertical_box > div {
  width: 400px;
}