<% if notice %>
  <div class="ui container notice_nag">
    <div class="ui message">
      <%= notice %>
    </div>
  </div>
<% end %>
<% if alert %>
  <div class="ui container alert_nag">
    <div class="ui message">
      <%= alert %>
    </div>
  </div>
<% end %>